// Paleta de Colores

$primary: #341E47;
$secondary: #45285F;
$terciary: #5C3F77;
$alternative: #78608E;
$white: #ffffff;
$black: #000000;

// Fuentes
$fontPrim: #ffffff;
$fontSec: #000000;
$fontTer: #341E47;

